# bitcoind RPC settings (linearize-hashes) (modified for Bitcoin Private)
rpcuser=someuser
rpcpassword=somepassword
#datadir=~/.btcp
host=127.0.0.1

#mainnet default
port=7932

#testnet default
#port=17932

#regtest default
#port=17443

# bootstrap.dat hashlist settings (linearize-hashes)
max_height=313000

# bootstrap.dat input/output settings (linearize-data)

# mainnet
netmagic=a8eaa2cd
genesis=0007104ccda289427919efc39dc9e4d499804b7bebc22df55f8b834301260602
input=/home/example/.btcp/blocks

# testnet
#netmagic=f61bf6d6
#genesis=03e1c4bb705c871bf9bfda3e74b7f8f86bff267993c215a89d5795e3708e5e1f
#input=/home/example/.btcp/testnet/blocks

# "output" option causes blockchain files to be written to the given location,
# with "output_file" ignored. If not used, "output_file" is used instead.
# output=/home/example/blockchain_directory
output_file=/home/example/Downloads/bootstrap.dat
hashlist=hashlist.txt

# Maximum size in bytes of out-of-order blocks cache in memory
out_of_order_cache_sz = 100000000

# Do we want the reverse the hash bytes coming from getblockhash?
rev_hash_bytes = False

# On a new month, do we want to set the access and modify times of the new
# blockchain file?
file_timestamp = 0
# Do we want to split the blockchain files given a new month or specific height?
split_timestamp = 0

# Do we want debug printouts?
debug_output = False
